.hfx-smarttab-elite-frame.st-vertical.st-theme-elite {
  border-top: 1px solid var(--st-anchor-active-primary-color);
  border-bottom: 1px solid var(--st-anchor-active-primary-color);
}

.hfx-smarttab-elite-frame.st-vertical.st-theme-elite > .nav {
  border-right: 1px solid var(--st-anchor-active-primary-color);
}

.hfx-smarttab-elite-frame.hfx-smarttab-nav-right.st-vertical.st-theme-elite > .nav {
  border-right: 0;
  border-left: 1px solid var(--st-anchor-active-primary-color);
}
